apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: producer
  namespace: default
  labels:
    release: prometheus-operator
spec:
  endpoints:
  - path: /metrics
    port: producer-port
  selector:
    matchLabels:
      app: producer
